# Default ignored files
/shelf/
./idea
# Datasource local storage ignored files
/../../../../../../:\Users\wesle\IdeaProjects\teamMain\.idea/dataSources/
/../../../../../../:\Users\David werkhoven\Documents\HBO\Fys\team-6\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
