#ClearBio {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 63%;
  left: 15%;
  right: 0;
  bottom: 0;
  width: 15%;
  height: 5%;
  border-left:0px;
}
#SaveBio {
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 63%;
  left: 0;
  right: 15%;
  bottom: 0;
  width: 15%;
  height: 5%;
}
div.PendingMatches {
  background-color: white;
  border-top: 2px solid black;
  border-right: 2px solid black;
  width: 50%;
  height: 25%;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
div.Matches {
  background-color: white;
  border-top: 2px solid black;
  width: 50%;
  height: 25%;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
#ProfielFoto {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 25%;
    border: 2px solid black;
}
#NaamText {
  font-size: 40px;
  border: 2px solid black;
  background-color: #D81E05;
  color: white;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 42%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 8%;
}
#BioInput {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 53%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30%;
  height: 8%;
  resize: none;
}
#feedback {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 68%;
  font-weight: bold;
}
#Activiteit {
  font-size: 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background-color: #D81E05;
  color: white;
  display: block;
  text-align: center;
}
#Matches {
  font-size: 30px;
  border-bottom: 2px solid black;
  background-color: #D81E05;
  color: white;
  display: block;
  text-align: center;
}
.ScrollBox {
  position: fixed;
  width: 50%;
  overflow-y: scroll;
  height: 19.5%;
}
div.MatchTemplate {
  background-color: #D81E05;
  border: 1px solid black;
  width: 99%;
  height: 30%;
  margin-top: 1%;
}

.MatchText {
  font-size: 16px;
  color: white;
  display: inline-block;
  text-align: center;
  padding-right: 4%;
  margin-top: 1%;
  margin-left: 1%;
}
.MatchProfielKnop {
  display: inline-block;
  width: 15%;
  height: 50%;
  border: 1px solid #000000;
}