@font-face {
    font-family: cantarell;
    src: url("fonts/Cantarell-Regular.ttf") format("opentype");
}
html{
    height: 99%;
}
body{
    font-family: Uni Sans WFx,sans-serif;
    font-weight: normal;
    font-style: normal;
    background-image: url("https://images8.alphacoders.com/658/thumb-1920-658668.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 99%;
}
button {
    font-family: Uni Sans WFx,sans-serif;
    background-color: #d81e05;
    color: white;
    text-align: center;
    border: 2px solid #000;
}
button:hover {
    background-color: #8b0000;
    color: white;
}
.HomeButton {
    width: 20%;
    padding: 0.5% 1%;
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    font-size: 30px;
}
.left-banner {
    width: 7.5%;
    float: left;
    margin-left: 5%;
    margin-top: 12.5%;
}
.right-banner {
    width: 7.5%;
    margin-top: 12.5%;
    float: right;
    margin-right: 5%;
}
div.middleBox {
    background-color: white;
    border: 3px solid black;
    width: 50%;
    height: 80%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
div.headerBox {
    background-color: #d81e05;
    border: 3px solid black;
    width: 99.5%;
    height: 10%;
    margin: 0;
    position: absolute;
    top: 0%;
}
#headerText {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 1%;
}
.middleBox .main {
    /*margin-left: 240px; !* Same as the width of the sidebar *!*/
    /*margin-right: 240px;*/
    padding: 0 10px;
    padding-top: 15%;
}
.main table, th, td{
    border: 1px solid #111111;
    border-collapse: collapse;
}
table{
    width: 100%;
    padding: 15px;
}
th, td {
    padding: 15px;
}
.middleBox .container {
    max-width: 1000px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding-left: 10px;*/
    padding-right: 5%;
}
small {
    font-size: 0.5em;
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}
.table-row {
    background-color: #D81E05;
    color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.1);
}
.col-1 {
    flex-basis: 40%;
    padding: 10px 24px;
}

.col-4 {
    flex-basis: 20%;
}
.col-1 a{
    text-decoration:none;
    color: white;
}
@media all and (max-width: 767px) {
    .table-header {
        display: none;
    }
    .table-row{

    }
    li {
        display: block;
    }
    .col {

        flex-basis: 100%;

    }
    .col {
        display: flex;
        padding: 10px 0;
    }
    :before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}
h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}
small {
    font-size: 0.5em;
}

.container .responsive-table .table-row button {
    background-color: #D81E05; /* Green background */
    border: 1px solid #000000; /* Green border */
    color: #ffffff; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.container .responsive-table .table-row button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.container .responsive-table .table-row button:after {
    content: "";
    clear: both;
    display: table;
}
.table-row i{
    padding-right: 5px;
}
#request2{
    cursor: default;
}