input[type=checkbox] {
    transform: scale(1);
}
.PerfecteMatch {
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    right: 10%;
    bottom: 5%;
    position: fixed;
    width: 30%;
    height: 10%;
}
.MeerdereMatches {
    text-decoration: none;
    display: inline-block;
    left: 10%;
    bottom: 5%;
    position: fixed;
    font-size: 25px;
    width: 30%;
    height: 10%;
}
.label {
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.vragenlijstBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2%;
    margin-top: 0.5%;
    flex: 1;
}
#VragenlijstTitel {
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-top: 1%;
    margin-left: 2%;
}
#VragenLijstDebug {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: 0.5%;
}