.naam {
    background-color: #D81E05;
    position: absolute;
    left: 0%;
    right: 70%;
    height: 10%;
    top: 12%;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-color: black;
    margin: 2%;
}

.foto {
    background-image: url("https://qph.fs.quoracdn.net/main-qimg-2b21b9dd05c757fe30231fac65b504dd");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 30%;
    height: 25%;
    top: 25%;
    left: 0%;
    right: 20%;
    margin: 2%;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

.biohoofd {
    height: 10%;
    position: absolute;
    bottom: 30%;
    left: 0%;
    float: left;
    background-color: #D81E05;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    color: white;
    border-color: black;
    margin: 2%;
}

.biosub {
    position: absolute;
    bottom: 15%;
    left: 0%;
    right: 35%;
    float: left;
    background-color: white;
    border-style: solid;
    border-color: #D81E05;
    border-width: 2px;
    text-align: justify;
    margin: 2%;
}

.info {
    height: 10%;
    width: 20%;
    background-color: #D81E05;
    position: absolute;
    bottom: 2%;
    left: 0%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
    visibility: hidden;
}

.sluiten {
    width: 20%;
    padding: 0.5% 1%;
    display: inline-block;
    position: absolute;
    right: 0%;
    height: 100%;
    font-size: 30px;
}

.aanvraag{
    height: 10%;
    width: 20%;
    background-color: #D81E05;
    position: absolute;
    bottom: 2%;
    left: 0%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
}