@font-face {
    font-family: cantarell;
    src: url('../../../assets/fonts/Cantarell-Regular.ttf') format("opentype");
}

#naam {
    font-size: 40px;
    border: 2px solid black;
    background-color: #D81E05;
    color: white;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 42%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 8%;
}

.profielfotobox {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 25%;
    border: 2px solid black;
}

#profielfoto {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;

}

.biohoofd {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 51%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 4%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #D81E05;
}

.biosub {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 56%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 12%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 12px;
}

.info {
    height: 10%;
    width: 20%;
    background-color: #D81E05;
    position: absolute;
    bottom: 72%;
    left: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
    visibility: hidden;
}

.sluiten {
    width: 20%;
    padding: 0.5% 1%;
    display: inline-block;
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 30px;
}

.aanvraag {
    height: 10%;
    width: 20%;
    background-color: #D81E05;
    position: absolute;
    bottom: 72%;
    left: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
}

.accepteer {
    height: 10%;
    width: 10%;
    background-color: green;
    position: absolute;
    bottom: 72%;
    left: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
    visibility: hidden;
}

.wijsaf {
    height: 10%;
    width: 10%;
    background-color: #D81E05;
    position: absolute;
    bottom: 72%;
    left: 10%;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
    visibility: hidden;
}

#email {
    height: 10%;
    width: auto;
    background-color: #D81E05;
    position: absolute;
    bottom: 72%;
    left: 0;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
    color: white;
    visibility: hidden;

}

.intressen {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 5%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: #D81E05;
}


.containerVragen {
    position: fixed;
    right: 5%;
    left: 5%;
    margin-top: 10%;
    bottom: 10%;
    top: 65%;
    overflow-y: scroll;
    height: 150px;
    border-style: solid;
}

.vraagtekst {
    margin-left: 2%;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 2%;
}