registratieContainer{
    display: flex;
    flex-direction: column;

}
container{
    margin-top: 0%;
}

.containerRegistratie {
    width: 50%;
    right: 25%;
    position: fixed;
    margin-top: 5%;

}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 2%;
    margin: 1% 1% 0;
    border: none;
    background: #f1f1f1;
}

label{
    font-size: 16px;
    font-weight: bold;
    display: block;
}