.Rome {
    padding: 0.5% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    left: 2.5%;
    margin-top: 15%;
    position: fixed;
    font-size: 30px;
    width: 20%;
    height: 10%;
}