.reisButton {
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10%;
}
.reisButtonContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5%;
    margin-top: 5%;
}
.BoekNuImage {
    height: 50%;
    length: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.CorendonLogo {
    height: 25%;
    length: 25%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    margin-top: 1%;
}